<% content_for :title, "Edit WhatsApp Audience" %>

<h1>Edit WhatsApp Audience</h1>

<%= form_with model: @audience, url: whatsapp_audience_path(@audience), method: :patch do |f| %>
  <% if @audience.errors.any? %>
    <div style="color: red; margin-bottom: 12px;">
      <h3><%= pluralize(@audience.errors.count, "error") %> prohibited this audience from being saved:</h3>
      <ul>
        <% @audience.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, style: "width: 100%;" %>
  </p>

  <p>
    <%= f.label :whatsapp_recipients, "WhatsApp recipients (one per line or comma-separated)" %><br>
    <%= f.text_area :whatsapp_recipients, rows: 6, style: "width: 100%;" %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
  <%= link_to "Back to WhatsApp Audiences", whatsapp_audiences_path %>
</p>
