<h1>New Slack Audience</h1>

<%= form_with model: @audience, url: slack_audiences_path do |f| %>
  <p><%= f.label :name %><br><%= f.text_field :name %></p>
  <p><%= f.label :slack_channel %><br><%= f.text_field :slack_channel %></p>
  <%= f.submit "Create" %>
<% end %>
