<%= form_with(model: audience) do |form| %>
  <% if audience.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(audience.errors.count, "error") %> prohibited this audience from being saved:</h2>

      <ul>
        <% audience.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :slack_channel, style: "display: block" %>
    <%= form.text_field :slack_channel %>
  </div>

  <p>
  <%= f.label :email_recipients, "Email recipients (one per line or comma-separated)" %><br>
  <%= f.text_area :email_recipients, rows: 6, style: "width:100%;" %>
</p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
